$primary: #A6ECE0;
$secondary: #031D44;
$danger: #CF5C36;
$tertiary: #544B3D;
$enable-rounded: true;
$background-color: #333;
$color: #cccccc;
$box-shadow: 0 .5rem 1rem rgba($color, .15);
$link-color: #1f499e;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-icons/font/bootstrap-icons.css";

.queue-card {
    @extend .card;
    background-color: $background-color;
    border-color: $primary;
    transition: ease-in-out 200ms all;
    box-shadow: $box-shadow;
    border-radius: $border-radius;

    &:hover {
        transform: scale(1.02);
        background-color: #292929;
    }

    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .card-text {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

}


.body {
    background-color: $background-color;
    font-family: 'Roboto';
    color: $color;
}

.table {
    color: $color;
    transition: ease-in-out 200ms all;

    a {
        font-weight: bold;
        color: $color;
        transition: ease-in-out 200ms all;

        &:hover {
            text-decoration: underline;
            color: $link-color;
        }

    }
}

.navbar {
    background-color: #404040;
    @extend .nav;
    @extend .navbar-light;

    a {
        transition: ease-in-out 200ms all;
        color: $color;

        &:hover {
            text-decoration: none;
            color: $link-color;
            background-color: $primary;
            padding: 0.3rem 1rem;
            border-radius: 1rem;
        }
    }

}

.btn-group {
    a {
        &.active {
            transform: scale(1.1);
            box-shadow: 2px 2px 5px $color;
        }
    }
}


.code {
    background-color: #292929;
}

.chart {
    background-color: white;
}