<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %} - Dramatiq dashboard</title>
    <meta name="viewport" content="width=device-width,
  initial-scale=1, shrink-to-fit=no">

    <!-- My CSS -->
    {% assets "scss_all" %}
        <link rel=stylesheet href="{{ ASSET_URL }}">
    {% endassets %}
</head>

<body class="body">
    <header class="navbar mb-5">
        <div class="container">
            <a class="navbar-brand" href="/">Home page</a>
        </div>
    </header>

    <div class="container">
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </div>

    <!-- Bootstrap JavaScript Bundle -->
    {% assets "ts_all" %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
</body>

</html>
