{% extends "base.html" %}
{% block title %}
  Home
{% endblock title %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="card queue-card">
        <div class="card-body">
          <h5 class="card-title">All queue chart</h5>
          <div class="chart"
               style="position: relative;
                      min-height: 60vh;
                      width: 100%">
            <canvas id="message-count-chart"></canvas>
          </div>
          <h5 class="card-title mt-3">All queue Stats</h5>
          <div id="queue_stats"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="card queue-card">
        <div class="card-body">
          <h5 class="card-title">Queue Details</h5>
          <table class="table">
            <thead>
              <tr>
                <th>Queue</th>
                <th>Current(work in progress)</th>
                <th>Delayed(work in progress)</th>
                <th>Failed</th>
              </tr>
            </thead>
            <tbody id="queue_stats_table">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <input type="hidden"
         name="credentials"
         id="credentials"
         value='{{ credentials|tojson|safe }}'/>
{% endblock content %}
