{% extends 'base.html' %}

{% block title %}Message: {{message.message_id}}{% endblock %}

{% block content %}
<div class="container">
    <h1>Message: {{message.message_id}}</h1>
    <table class="table">
        <tbody>
            {% for key, value in message.items() %}
            <tr>
                <th>{{key}}</th>
                <td>{{value}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-right">
        <button class="btn btn-danger" onclick="msg_delete('{{message.queue_name}}', '{{message.message_id}}')">Delete</button>
    </div>
</div>
{% endblock %}
