{% extends 'base.html' %}

{% block title %}Queue: {{queue_name}}{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between mb-3">
        <h1>Queue Name: {{queue_name}}</h1>
        <div class="btn-group my-auto">
            <a class="btn {% if current_page == 'current' %} btn-primary active {% else %} btn-light {% endif %}" href="{{ url_for('current_details', queue_name=queue_name) }}">Current
                ({{ queues["current_queue_msg"]|length }})</a>
            <a class="btn {% if current_page == 'delay' %} btn-warning active {% else %} btn-light{% endif %}" href="{{ url_for('delayed_details', queue_name=queue_name) }}">Delayed
                ({{ queues["delay_queue_msg"]|length }})</a>
            <a class="btn {% if current_page == 'dead' %} btn-danger active {% else %} btn-light{% endif %}" href="{{ url_for('failed_details', queue_name=queue_name) }}">Failed
                ({{ queues["dead_queue_msg"]|length }})</a>
        </div>
    </div>
</div>
    <table class="table">
        <thead class="text-nowrap">
            <tr>
                <th class="col-7"><i class="bi bi-gear-fill"></i> Job</th>
                <th class="col-1 text-center"><i class="bi-alarm"></i> Created at</th>
                <th class="col-1 text-center"><i class="bi bi-arrow-clockwise"></i> Retries</th>
                <th class="col-5 text-center"><i class="bi bi-hammer"></i> Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for msg in queue %}
            {% for key, value in msg.items() %}
            <tr>
                <td class="col-8">{% if current_page == "dead" %}
                    <a href="{{ url_for('msg_details', queue_name=dead_queue_name, message_id=value["message_id"]) }}"
                        class="">{{ key }}</a>
                    {% else %}
                    <a href="{{ url_for('msg_details', queue_name=value.queue_name, message_id=value["message_id"]) }}"
                        class="">{{ key }}</a>
                    {% endif %}
                </td>
                <td class="col-1 text-center">{{value.created_at}}</td>
                {% if value.options.retries %}
                <td class="col-1 text-danger text-center">{{value.options.retries}}</td>
                {% else %}
                <td class="col-1 text-danger text-center">0</td>
                {% endif %}
                <td class="col-5 text-center">
                    {% if current_page == "dead" %}
                    {% if requeue %}
                    <button class="btn btn-primary"
                        onclick="msg_requeue('{{dead_queue_name}}', '{{value.message_id}}')">Requeue</button>
                    {% endif %}
                    <button class="btn btn-danger"
                        onclick="msg_delete('{{dead_queue_name}}', '{{value.message_id}}')">Delete</button>
                    {% else %}
                    {% if requeue %}
                    <button class="btn btn-primary"
                        onclick="msg_requeue('{{value.queue_name}}', '{{value.message_id}}')">Requeue</button>
                    {% endif %}
                    <button class="btn btn-danger"
                        onclick="msg_delete('{{value.queue_name}}', '{{value.message_id}}')">Delete</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% endfor %}
            <input type="hidden" name="credentials" id="credentials" value='{{credentials|tojson|safe}}'></input>
        </tbody>
    </table>
</div>
{% endblock %}